# Core packages
pandas==1.5.3
numpy==1.24.2

# Visualization packages
matplotlib==3.7.1
seaborn==0.12.2

# Machine learning packages
scikit-learn==1.2.2
xgboost==1.7.3

# Jupyter notebook environment
jupyter==1.0.0
